PAPERLESS_URL=https://paperless.edelweiss0297.cloud
PAPERLESS_TIME_ZONE=Asia/Seoul
PAPERLESS_OCR_LANGUAGE=kor+eng
PAPERLESS_OCR_LANGUAGES=kor
PAPERLESS_SECRET_KEY=change-this-to-a-random-long-secret
PAPERLESS_ADMIN_USER=paperless
PAPERLESS_ADMIN_PASSWORD=change-this-password
PAPERLESS_ADMIN_MAIL=admin@edelweiss0297.cloud
POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD=change-this-db-password
