ADMIN_USERNAME=archivebox
ADMIN_PASSWORD=change-this-password
ALLOWED_HOSTS=archive.edelweiss0297.cloud,127.0.0.1,localhost,10.0.0.10
CSRF_TRUSTED_ORIGINS=https://archive.edelweiss0297.cloud
PUBLIC_INDEX=False
PUBLIC_SNAPSHOTS=False
PUBLIC_ADD_VIEW=False
